@model IEnumerable<ProjMVC.ViewModels.SongVM>
@{
    ViewBag.Title = "Songs";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


@using (Html.BeginForm("Song", "Home", FormMethod.Get))
{
    //   @Html.HiddenFor(ViewData["id"])

    <input type="hidden"  name="ID" value="@ViewData["ID"]">
    @Html.TextBox("search")
    <input type="submit" value="search" />

}
<table class="table table-striped">

    <thead>
        <tr>
            <th>Name </th>
            <th>Genre</th>
            <th>Link</th>
            <th>id</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() == 0)
        {
            <tr>
                No User with name like that
            </tr>
        }
        else
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Genre
                    </td>
                    <td>
                        @item.Link
                    </td>
                    <td>
                        <a href="/Home/About?id=@item.PlayListId">Playlists</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

